---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Pixel | Simple View Tracker</h1>
    <p>View tracker</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 2rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 2rem;
    font-weight: 50;
    line-height: 1;
    margin-bottom: 1em;
  }
</style>
