---
import Layout from "../layouts/Layout.astro";
import { v4 as uuidv4 } from "uuid";

const uuid = uuidv4();
---

<Layout title="pixel | a simple view tracker">
  <main>
    <h1>pixel | a simple view tracker</h1>
    <p>
      Embed <a href=`https://pixel.flatypus.me/${uuid}` target="_blank">
        https://pixel.flatypus.me/{uuid}
      </a> in your website to track views.
    </p>
    <p>
      Visit <a href=`https://view.flatypus.me/${uuid}` target="_blank">
        https://view.flatypus.me/{uuid}
      </a> to view stats.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 2rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 2rem;
    font-weight: 50;
    line-height: 1;
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 1em;
    font-size: 0.9rem;
  }
  a {
    color: #0070f3;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
